<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
  <!-- Header-->
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Webtoon Review</h1>
        <p class="lead fw-normal text-white-50 mb-0">웹툰과 관계된 정보를 공유하는 사이트입니다.</p>
      </div>
    </div>
  </header>
</div>

</html>